[Unit]
Description=Run the dashboard as the last command to take over the framebuffer
After=multi-user.target

[Service]
ExecStart=/home/pete/Raspberry-Pi-yacht-dashboard/Dashboard.pl
Restart=always
WorkingDirectory=/home/pete/
User=pete

[Install]
WantedBy=dashboard.target
